name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: |
          if [ -n "${GITHUB_REF##*refs/tags/}" ]; then
            echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "TAG=dev-${GITHUB_SHA::8}" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image with tag
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/like-hunter:latest
            ghcr.io/${{ github.repository_owner }}/like-hunter:${{ steps.vars.outputs.TAG }}

      - name: SSH into server and redeploy container
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          script: |
            docker pull ghcr.io/${{ github.repository_owner }}/like-hunter:${{ steps.vars.outputs.TAG }}
            docker stop like-hunter || true
            docker rm like-hunter || true
            docker volume create like-hunter_data || true
            docker run -d \
              --name like-hunter \
              --env-file likeHunter/.env \
              -v like-hunter_data:/app/data \
              --restart unless-stopped \
              ghcr.io/${{ github.repository_owner }}/like-hunter:${{ steps.vars.outputs.TAG }}